*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #F1C93B;
}

body{
    background-color: black;
    font-weight: 400;
    font-size: 1.312rem;
    line-height: 1.6;
}

h1,h2{
    font-weight: 900;
}

h1,h2,p{
    margin-bottom: 1em;
}

section{
    margin-inline: auto;
    width: min(90%, 70.5rem); 
    margin-bottom:1em ;
    text-align: center;
}

img{
    max-width: 100%;
    display: block;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
}

button{
    color: black;
    background-color: #F1C93B;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 0.8em;
}

.split{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-icon{
    font-size: 15rem;
}



.nav-list li{
    padding: 1em;

}

.about-me-col p{
    padding: 1em;
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
}

.skills-section ul{
    font-size: 6rem;
}

.project-card{
    max-width: 20rem;
    max-height: 25rem;
    border: 2px solid #F1C93B;
}

@media(min-width: 40em) {
    .split{
        flex-direction: row;
    }

    .hero-section{
        text-align: justify;
    }

    .about-me-col{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    img{
        max-width: 40%;
    }

    .skills-section{
        margin-block: 5rem;
    }

    .skills-section ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 60%;
        margin-inline: auto;
    }

    .skills-section ul li{
        font-size: 3rem;
    }

    .projects{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    

    
    
}


